<!DOCTYPE html>
<html>
    <head>
        <title>Đăng ký tài khoản mới</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="dangky.component.css" rel="stylesheet" type="text/css"/>
    </head>
    <div class="container col-lg-6">
        <h1 class="text-center">dangky</h1>
        <div class="card">
            <div class="card-body">
                <form [formGroup]="registerForm" class="form-group" (ngSubmit)=dangky()>
                    <div class="form-group">
                        <label>Username</label>
                        <input formControlName="username" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input formControlName="password" class="form-control" type="password">
                    </div>
                    <div class="form-group">
                        <label>fullname</label>
                        <input formControlName="fullname" class="form-control" type="fullname">
                    </div>
                        <div class="form-group">
                        <label>gmail</label>
                        <input formControlName="password" class="form-control" type="gmail">
                    </div>
                    <button type="submit" (click)="dangky()">
                        Đăng ký
                    </button>
                    <button type="submit" (click)="dangnhap()">
                        Thoát
                    </button>
                </form>
            </div>
    
        </div>
    
    </div>
</html>
