<div>
  <div class="row" style="text-align: center;display: flex;align-items: center;flex-direction: column; ">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: center; ">
      <div class="panel panel-primary" style="background-color: #99CCCC ;text-align: center;">
        <div class="panel-heading">
          <h2 class="panel-title">
            Khai Báo Số Dư</h2>
        </div>
        
        <div class="panel-body">
          <form style="text-align: center;color:red ">
            <div class="form-group">
              <label for="">Số Dư Tài Khoản</label>
              <input type="text" class="form-control">
            </div>
           
           <button type="button" class="btn btn-primary" (click)="lviec()">Lưu</button>
           <button type="button" class="btn btn-primary" >Quay Lại</button>
            
           
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
