<!DOCTYPE html>
<html>
    <head>
        <title>Kích Hoạt Ví</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="khaibaosodu.component.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <div class="container">
               
            </div>
        </header>
        <main>
            <div class="container">
            <div class="b">
                <form action="" method="post">
                    <h1 style="text-align: center ;" class="a">Kích Hoạt Ví</h1>
                     <div class="form-group" style="text-align: center;">
                       <label for="" >Khai báo số dư</label>
                     <input type="text" class="form-control">
                    </div>
                    
                    <div class="btn-box" style="text-align: center; " >
                        <button type="submit" (click)="dsgiaodich()" >
                            Kích Hoạt
                        </button>
                       
                        <button type="submit" (click)="dangky()" >
                            Thoát
                        </button>
                    </div>
                    
                    
                </form>
            </div>
            </div>
        </main>
        <footer>
            <div class="container">
          
            </div>
        </footer>
    </body>
</html>

