*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
header{
    background-color: #cccccc;
    min-height: 70px;
    padding: 15px;
    margin-top: 120px;
    
    
   
}
main{
    background-color: #dddddd;
    min-height: 300px;
    padding: 7.5px 15px;
}
footer{
    background-color: #cccccc;
    min-height: 70px;
    padding: 15px;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.b{
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 15px;
    border: 2px dotted hsl(203, 21%, 24%);
    border-radius: 20px;
}
h1{
    color: #009999;
    font-size: 20px;
    margin-bottom: 30px;
}
.input-box{
    margin-bottom: 10px;

}
.form-group input{
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #93c8e0;
    outline: none;
    border-radius: 20px;
}
.btn-box{
    text-align: right;
    margin-top: 30px;
}
.btn-box button{
    padding: 7.5px 15px;
    border-radius: 15px;
    background-color: #009999;
    color: #ffffff;
    border: none;
    outline: none;
}
.a {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    height: 108px;
    padding-top: 40px;
    color: #3d2d2d;
    background-color: #e7e5e4;
    letter-spacing: .15em;
   
  }
 