*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.margin_b{
    margin-bottom: 7.5px;
}
.clear{
    clear: both;
}
header{
    background-color: #cccccc;
    min-height: 70px;
    padding: 15px;
}
main{
    background-color: #dddddd;
    min-height: 300px;
    padding: 7.5px 15px;
}
footer{
    background-color: #cccccc;
    min-height: 70px;
    padding: 15px;
}
h1{
    color: #009999;
    font-size: 20px;
    margin-bottom: 30px;
}

.login-form{
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 15px;
    border: 2px dotted hsl(203, 21%, 24%);
    border-radius: 20px;

}

.input-box{
    margin-bottom: 10px;
     border-radius: 20px;
}
.input-box input[type='text'],
.input-box input[type='password'],
.input-box input[type='date']{
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #93c8e0;
    outline: none;
    font-size: 16px;
    display: inline-block;
    height: 40px;
    color: #666666;
     border-radius: 20px;
}
.input-box select{
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
    font-size: 16px;
    display: inline-block;
    height: 40px;
    color: #666666;
     border-radius: 20px;
}
.input-box option{
    font-size: 16px;
     border-radius: 20px;
}
.input-box input[type='checkbox']{
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
    line-height: 2em;
     border-radius: 20px;
}
.input-box textarea{
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
    font-size: 16px;
    min-height: 120px;
    color: #666666;
     border-radius: 20px;
}
.btn-box{
    text-align: right;
    margin-top: 30px;
    
    
}
.btn-box button{
    padding: 7.5px 15px;
    border-radius: 20px;
    background-color: #009999;
    color: #ffffff;
    border: none;
    outline: none;
}
.a {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    height: 108px;
    padding-top: 40px;
    color: #3d2d2d;
    background-color: #e7e5e4;
    letter-spacing: .15em;
    
  }